ailever==0.1.27
alabaster==0.7.12
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
Brotli==1.0.9
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
commonmark==0.9.1
cryptography==3.1.1
cycler==0.10.0
dash==1.17.0
dash-bootstrap-components==0.11.0
dash-core-components==1.13.0
dash-cytoscape==0.2.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
filelock==3.0.12
finance-datareader==0.9.10
Flask==1.1.2
Flask-Compress==1.7.0
future==0.18.2
graphviz==0.14.2
gym==0.18.0
h5py==2.10.0
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
jeepney==0.4.3
Jinja2==2.11.2
joblib==0.17.0
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
keyring==21.4.0
kiwisolver==1.2.0
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mkl-fft
mkl-random
mkl-service
mpmath==1.1.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
notebook==6.1.4
numpy==1.19.2
olefile==0.46
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.0
pip==20.3.3
pkginfo==1.5.0.1
plotly==4.12.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
ptyprocess==0.6.0
pycparser==2.20
pyglet==1.5.0
Pygments==2.7.1
pyparsing==2.4.7
pyproj==1.9.6
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqtgraph==0.11.0
pyrsistent==0.17.3
pyshp==2.1.2
python-dateutil==2.8.1
pytrends==4.7.3
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
readme-renderer==27.0
recommonmark==0.7.1
regex==2020.10.15
requests==2.24.0
requests-file==1.5.1
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.3
SecretStorage==3.1.2
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.91
setuptools==50.3.0.post20201006
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.4.2
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels==0.12.0
sympy==1.7.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tokenizers==0.8.1rc2
torch==1.6.0
torchfile==0.1.0
torchviz==0.0.1
tornado==6.0.4
tqdm==4.50.2
traitlets==5.0.5
transformers==3.3.1
twine==3.2.0
urllib3==1.25.10
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wheel==0.35.1
widgetsnbextension==3.5.1
xmltodict==0.12.0
zipp==3.3.1
